
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .loader-container h3 {
    color: lawngreen;
  }
  
  .spinner {
    text-align: center;
  }
  
  .lds-spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  
  .lds-spinner div {
    animation: lds-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  
  @keyframes lds-spinner {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  

  