.favorite-characters-gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .favorite-character-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

.favorite-characters-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 20px; 
}

.favorite-character-image {
  max-width: 100px; 
  max-height: 100px; 
  border-radius: 50%; 
}


@media (max-width: 768px) {
  .favorite-character-image {
    max-width: calc(50% - 10px); 
    max-height: auto; 
  }
}
